*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
.item_category{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.carousel{
    position: relative;
    width:75%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}
.carousel_container{

    display: flex;
    width:100%;
    height: 40%;
    margin:auto;
}

.carousel_image{
    height: 200px;
    object-fit: cover;
}

.carousel_button{
    position: absolute;
    width:30px;
    top:22%;
    height:30px;
}
.carousel_button_right{
    right: 12.5%;
}
.carousel_button_left{
    left: 12.5%;
}
.carousel_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33.33%;
}
.carousel_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.carousel_card_item_name{
    text-align: center;
}
.carousel_card_item_price, .carousel_card_item_category{
    text-align: center;
}


